<!DOCTYPE html>
<html lang="en">
<head>
    <!-- ... other head elements ... -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</head>
<body>
    <!-- ... existing body content ... -->
    <script>
        const socket = io();
        socket.on('connect', () => {
            console.log('Connected to WebSocket');
        });
        socket.on('new_notification', (data) => {
            console.log('New notification:', data);
            // Update the UI to show the new notification
            updateNotifications();
        });
    </script>
</body>
</html>