{% extends "base.html" %}

{% block content %}
    <h1 class="mb-4">Study Materials</h1>
    {% for subject, materials in materials|groupby('subject') %}
        <h2>{{ subject }}</h2>
        <ul class="list-group mb-4">
        {% for material in materials %}
            <li class="list-group-item">
                <a href="{{ url_for('main.study_material', material_id=material.id) }}">{{ material.title }}</a>
            </li>
        {% endfor %}
        </ul>
    {% endfor %}
{% endblock %}